<launch>
  <include file="$(find marvel_v1)/bringup/launch/marvel_v1_model.launch">
  </include>
  <include file="$(find marvel_v1)/bringup/launch/marvel_v1_lidar.launch">
  </include>

  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find marvel_v1)/bringup/rviz/robot.rviz" />
</launch>
